{% extends 'home/navbar.html'%} 
{%block content%}
<div class="homepage">
 

  <img
    class="body_logo"
    width="100px"
    src="https://scontent.fnbo1-1.fna.fbcdn.net/v/t1.6435-0/p526x296/170380606_1339407366432125_902097421149374018_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=belSsNXtRBIAX9MwbMJ&_nc_ht=scontent.fnbo1-1.fna&tp=6&oh=97b83db0690e9c254672dfefd35f22c3&oe=6091C5CE"
    alt=""
  />

  <div class="landing_container container">
    <div class="frame">
      <div class="card">
        <div class="icon_container personnel">
          <i class="fa homepage_icon fa-users" aria-hidden="true"></i>
        </div>
        <div class="homepage_content">
          <h3>Personnel</h3>
        </div>
      </div>
      <div class="card">
        <div class="icon_container Inventory">
          <i class="fa homepage_icon fa-archive" aria-hidden="true"></i>
        </div>
        <div class="homepage_content">
          <h3>Inventory</h3>
        </div>
      </div>
      <div class="card">
        <div class="icon_container students">
          <i class="fa homepage_icon fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="homepage_content">
          <h3>Students</h3>
        </div>
      </div>

      <div class="card">
        <div class="icon_container systemconfig">
          <i class="fa homepage_icon fa-wrench" aria-hidden="true"></i>
        </div>
        <div class="homepage_content">
          <h3>System</h3>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
