{% extends 'home/navbar.html'%} 
{%block content%}
{% load static %}
<style>
  section {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  
  background-image: url(" {% static 'images/p2.jpg' %} ");
  background-size: cover;
  background-position: center;
}
</style>
<section>
  
  <div class="app-holder">

    <a href="" class="app">
      <div class="icon w3-orange"><i class="mdi mdi-account-multiple"></i></div>
      <div class="small w3-padding-small">Students</div>
    </a>
    <a href="" class="app">
      <div class="icon w3-blue"><i class="mdi mdi-package-variant"></i></div>
      <div class="small w3-padding-small">Inventory</div>
    </a>
    <a href="" class="app">
      <div class="icon w3-teal"><i class="mdi mdi-tools"></i></div>
      <div class="small w3-padding-small">Equipment</div>
    </a>
    <a href="{% url 'personnel-home'%}" class="app">
      <div class="icon w3-aqua"><img src="{% static 'images/teacher.png' %}" style="width:40px;height:40px" alt=""></div>
      <div class="small w3-padding-small">Personnel</div>
    </a> 
    <a href="" class="app">
      <div class="icon w3-lime"><i class="fas fa-cogs"></i></div>
      <div class=" w3-padding-small small">System Settings</div>
    </a> 
  </div>
 
  <div class="overlay"></div>
  
</section>

{%endblock content%}
