{% extends 'home/home.html'%} 
{% block content %} 

<nav>
    <!-- left -->
     <i class="fa fa-bars" aria-hidden="true"></i>
     <img src="https://scontent.fnbo1-1.fna.fbcdn.net/v/t1.6435-0/p526x296/170380606_1339407366432125_902097421149374018_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=belSsNXtRBIAX9MwbMJ&_nc_ht=scontent.fnbo1-1.fna&tp=6&oh=97b83db0690e9c254672dfefd35f22c3&oe=6091C5CE" alt="">

       <input type="text" placeholder=" " />
       <i class="fa fa-search" aria-hidden="true"></i>

   
    <!-- right -->
<i class="fa fa-paperclip" aria-hidden="true"></i>
  <h6 class="dropdown-header">Dropdown header</h6>
    <i class="fa fa-calendar" aria-hidden="true"></i>
<i class="fa fa-comment" aria-hidden="true"></i>

</nav>

{% endblock content%}