{% extends 'home/navbar.html'%}
{% block content %}
<style>
a.w3-border-bottom{
  text-decoration: none;
}
</style>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-dark table-hover p-0" style="display:none; color: white;"
  id="mySidebar">
  <span class="btn float-right" style="font-size: 30px;"  onclick="w3_close()" ><i class="mdi mdi-close-circle-multiple text-danger"></i></span>
  <h3 class="w3-bar-item w3-black m-0 " style="font-size: 20px; font-weight: 700;">
    <div class="text-center p-4 pt-0">
      <i class="mdi mdi-account-group"></i> <br>
      
      Personnel Management

    </div>
  </h3>
  <!-- <button class="w3-bar-item w3-button w3-large float-right""> </button> -->
  <a href="{% url 'personnel-home' %}" class="w3-bar-item w3-button w3-border-bottom pb-3" ><i class="mdi mdi-account-multiple mr-1"></i> Personnel</a>
  <a href="{% url 'role-index' %}" class="w3-bar-item w3-button w3-border-bottom pb-3" ><i class="mdi mdi-account-key mr-1"></i> Roles</a>
  <a href="#" class="w3-bar-item w3-button w3-border-bottom pb-3" ><i class="mdi mdi-layers mr-1"></i> Departments</a>
  <a href="#" class="w3-bar-item w3-button w3-border-bottom pb-3" ><i class="mdi mdi-file-certificate mr-1"></i> Certifications</a>
  
  
</div>
<div id="main">

  {% block bodySection %}

  {% endblock %}

</div>
{% endblock %}
{% block script %}
<script>
  document.getElementById("main").style.marginLeft = "17%";
  document.getElementById("mySidebar").style.width = "17%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
</script>
{% endblock %}